.modal-body {
    display: flex;
    flex-direction: column;
    height: 20rem;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.modal-body h3 {
    font-weight: bold;
}

.modal-header {
    color: white;
    background-color: black;
}

@media (max-width: 720px) {
    .modal-body {
        display: flex;
        flex-direction: column;
        height: 15rem;
        align-items: center;
        justify-content: center;
    }
    .modal-header {
        color: white;
        background-color: black;
    }
}