 /* The message box is shown when the user clicks on the password field */
 
 #message {
     background: #f1f1f1;
     color: #000;
     position: relative;
     padding: 12px;
     margin-top: 9px;
 }
 
 #message p {
     padding: 5px 35px;
     font-size: 12px;
     margin-bottom: 0 !important;
 }
 /* Add a green text color and a checkmark when the requirements are right */
 
 .valid {
     color: green;
 }
 
 .valid:before {
     position: relative;
     left: -35px;
     content: "✔";
 }
 /* Add a red text color and an "x" when the requirements are wrong */
 
 .invalid {
     color: red;
 }
 
 .invalid:before {
     position: relative;
     left: -35px;
     content: "✖";
 }
 
 .fonteinputpass {
     font-size: 17px !important;
 }
 
 .privacetext {
     font-size: 15px !important;
 }
 
 .privacetexttitle {
     font-size: 20px !important;
 }
 
 .privacetextbtn {
     font-size: 18px !important;
 }