* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

html {
    font-size: 62.5%;
}

h2 {
    font-size: 5rem;
    font-weight: 600;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.footer-container {
    flex: 1;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.main-bg {
    position: relative;
    background-image: url('../img/introimg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.main-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn 2s forwards;
}

.dark-bg {
    color: white;
    background-color: #000000;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' stroke-opacity='0.51'%3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.navbar {
    height: auto;
    background-color: black;
}

.navbar .logo {
    display: flex;
    align-items: end;
    justify-content: left;
}

.navbar .logo img {
    padding: 0.5rem;
    border-radius: 50%;
    height: 5.5rem;
    width: 5.5rem;
}

.navbar .logo h2 {
    text-transform: uppercase;
    color: aliceblue;
    font-family: Inter, sans-serif;
    font-size: 1.5rem;
    padding-bottom: 1.5rem;
}

.intro-content {
    text-align: center;
    position: relative;
    color: #ffffff;
}

.logo {
    height: 20rem;
    width: 20rem;
}

.intro-content p {
    font-size: 2.5rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.intro-content img {
    border-radius: 50%;
    padding: 1rem;
}

#start-btn-wrapper {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
}

#start-btn {
    width: 20rem;
    height: 4rem;
    border-radius: 1rem;
    background-color: #256dbf;
    color: #e9f1fa;
    text-transform: uppercase;
    cursor: pointer;
    padding: 1rem;
    border: none;
    transition: all 200ms ease-in-out;
}

#start-btn:hover {
    background-color: #0057e4;
}

.login-page {
    height: auto;
    width: 100%;
}

.login-page-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-page-container>div>img {
    width: 50rem;
    height: 40rem;
}

.login-page-container form label {
    font-size: 2rem;
}

.login-page-container form input {
    width: -webkit-fill-available;
    height: 3rem;
    font-size: 1.5rem;
}

.login-page-container form fieldset {
    border: 1px solid #ffffff;
    padding: 3rem;
    width: 300px;
    text-align: center;
    border-radius: 1rem;
}

.login-page-container .login-btn {
    border: none;
    width: 10rem;
    height: 4rem;
    background-color: #256dbf;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    transition: all 200ms ease-in-out;
}

.login-btn:hover {
    background-color: #0057e4;
}

.social-media-icons {
    display: flex;
    justify-content: center;
    margin-left: 1rem;
    gap: 1rem;
}

#keep-credentials {
    font-size: 1.5rem;
    margin-left: 5.5rem;
}

#keep-credentials-input {
    height: 1.5rem;
    width: 1.5rem;
}

.cancel-login {
    text-align: center;
    font-size: 1.5rem;
}

.create-btn-modal {
    border: none;
    width: auto;
    height: auto;
    background-color: #256dbf;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 1rem;
    transition: all 200ms ease-in-out;
}

@media(max-width:720px) {
    .login-page-container {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    .login-page-container .login-btn {
        border: none;
        width: 10rem;
        height: 4rem;
        background-color: #256dbf;
        color: #ffffff;
        font-size: 1.5rem;
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: all 200ms ease-in-out;
    }
    .login-page-container>div>img {
        display: none;
    }
}


/* SIGNUP PAGE */

.signup-page {
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-page .signup-page-container {
    display: flex;
    gap: 5rem;
    padding: 8rem;
}

.signup-page .signup-page-container h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.signup-page .signup-page-container .globe>img {
    width: 30rem;
    height: auto;
    max-width: 100%;
}

.signup-page-container form {
    width: 100%;
    max-width: 45rem;
    padding: 1rem;
}

.signup-page-container form label {
    font-size: 2rem;
}

.signup-page-container form input {
    width: 100%;
    height: 3rem;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.signup-page-container form fieldset {
    border: 1px solid #ffffff;
    padding: 2rem;
    border-radius: 1rem;
}

.signup-page-container .login-btn {
    border: none;
    width: 100%;
    height: 4rem;
    background-color: #256dbf;
    color: #ffffff;
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 0.5rem;
    transition: all 200ms ease-in-out;
}

.signup-page-container .login-btn:hover {
    background-color: #0057e4;
}

.file-upload-wrapper {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.file-upload-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.file-upload-button:hover {
    background-color: #e0e0e0;
}

.file-upload-button::before {
    content: "Select a file";
}

.file-upload-input {
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}

.file-upload-filename {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-size: 14px;
}

.signup-page-container form select {
    height: 3rem;
    font-size: 1rem;
}

.signup-page-container form select option {
    font-size: 1.5rem;
}

@media (max-width: 720px) {
    .signup-page .signup-page-container {
        display: block;
        text-align: center;
    }
    .signup-page-container form {
        width: 100%;
        max-width: 100%;
    }
    .signup-page-container .login-btn {
        margin-left: 0;
    }
    .signup-page .signup-page-container .globe>img {
        display: none;
    }
}

.errologintxt {
    text-align: center;
    color: red;
}

.hero {
    background-color: #001a2c;
    background-image: url("../img/fundo2.png");
    background-size: cover;
    background-position: center;
}

.titulologin {
    font-size: 50px;
}

@media (max-width: 767px) {
    .titulologin {
        font-size: 25px;
    }
    .desclogin {
        font-size: 13px !important;
    }
}

.desclogin {
    font-size: 19px;
    text-align: justify;
}

.loginfooter {
    bottom: 0;
    left: 0;
    right: 0;
    position: unset;
}

.inputlogin {
    padding: 4px;
    border-radius: 5px;
}

.inputtamanho {
    height: 3rem;
}

.labelcadastro {
    font-size: initial;
}

.cardcadastro {
    border: 1px solid white;
    border-radius: 10px;
    padding: 13px;
    max-width: 400px !important;
}

.icone-btn-mobile {
    font-size: 15px;
}

.btn-mobile {
    width: 40px;
}

.password-container {
    position: relative;
}

.password-container .input-group-text {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.txterrologin {
    font-size: 15px;
    background-color: #f5b5b5;
}

.createaccounttxt {
    font-size: medium !important;
}