.network-menu-wrap {
    position: absolute;
    top: 100%;
    right: 5%;
    width: 280px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.network-menu-wrap::-webkit-scrollbar {
    width: 15px;
    /* width of the entire scrollbar */
}

.network-menu-wrap::-webkit-scrollbar-track {
    width: 10px;
    background: #002d4b;
    border-bottom-right-radius: 10px;
    /* color of the tracking area */
}

.network-menu-wrap::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    width: 10px;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 5px solid #002d4b;
    /* creates padding around scroll thumb */
}

.network-menu-wrap.open-menu {
    max-height: 400px;
}

.profile-menu-wrap {
    position: absolute;
    top: 100%;
    right: 5%;
    width: 320px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}

.profile-menu-wrap::-webkit-scrollbar {
    width: 15px;
    /* width of the entire scrollbar */
}

.profile-menu-wrap::-webkit-scrollbar-track {
    width: 10px;
    background: #002d4b;
    border-bottom-right-radius: 10px;
    /* color of the tracking area */
}

.profile-menu-wrap::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    width: 10px;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 5px solid #002d4b;
    /* creates padding around scroll thumb */
}

.profile-menu-wrap.open-menu {
    max-height: 400px;
}

.profile-menu {
    background: #fff !important;
    color: black !important;
    padding: 20px;
    margin: 10px;
}

.profile-menu hr {
    border: 0;
    height: 1px;
    width: 100%;
    background: #fff;
    margin: 15px 0 10px;
}

.profile-menu-link {
    display: flex;
    align-items: center;
    color: black !important;
    margin: 12px 0;
    font-size: 14px;
}

.profile-menu-link p {
    width: 100%;
}

.profile-menu-link p:hover {
    text-decoration: underline;
}

.profile-menu-link img {
    width: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

.icon-screen-navbar {
    font-size: 14px;
}

.navbar {
    transition: background-color 0.3s ease;
}

.navbar.transparent {
    background: transparent;
}

.navbar.colored {
    background: linear-gradient(to right, transparent, #fff, #fff, #fff, transparent);
}

.navbar.colored span {
    color: #000000;
}

.navbarcenter {
    width: 23%;
    display: flex;
    align-items: center;
}

.navbarcenter ul {
    display: flex;
}

.navbarcenter ul li {
    display: inline-block;
    list-style: none;
}

.navbarcenter ul li a {
    color: #fff;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    margin: 5px 8px;
    padding-right: 0.5rem;
    position: relative;
    transition: 0.3s;
}

.navbarcenter ul li a:hover {
    color: #0057e4;
}

.navbarcenter ul li a img {
    filter: contrast(175%) brightness(223%);
    width: 3rem;
}

.navbarcenter ul li a::after {
    content: '';
    width: 0;
    height: 2px;
    background: #045be6;
    color: #0057e4;
    position: absolute;
    bottom: -15px;
    transition: width 0.3s;
}

.navbarcenter ul li a:hover::after,
.navbarcenter ul li a.active-link::after {
    width: 100%;
}

.nav-profile-img {
    width: 41px;
    border-radius: 50%;
    display: block;
    cursor: pointer;
    position: relative;
}

#notifyMenu {
    background-color: #002d4b;
    color: #000000;
    height: auto;
    overflow-y: scroll;
    border-radius: 1rem;
}

.notify-menu {
    color: #000000;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
    font-weight: 600;
}

.notify-menu a {
    color: #000000;
    width: 100%;
    padding: 1rem;
}

.notify-menu span {
    color: #000000 !important;
}

.empty-box img {
    height: 4rem;
    width: 4rem;
}

.empty-box {
    font-size: 2rem;
}

.notification i {
    color: #000000;
    font-size: 2rem;
    margin-right: 1rem;
}

.notification {
    display: flex;
    text-align: center;
    justify-content: space-between;
    color: #000000;
    padding: 0rem 2rem;
}

.notify-text {
    text-align: center;
    line-height: 0.8rem;
}

.delete-btn {
    color: #000000;
    margin-left: 1rem;
    color: #fff;
    border: none;
    background: none;
    font-weight: bold;
    font-size: 1.5rem;
}

.logo img {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 1rem;
    margin-right: 1rem;
    display: block;
}

.search {
    border: 0.05rem solid #000000;
    width: 45%;
    display: flex;
    align-items: center;
    height: 3rem;
    border-radius: 3rem;
    overflow: hidden;
    background: #fff;
    position: relative;
}

.search-suggestions {
    display: none;
    height: auto;
    width: 44%;
    background-color: white;
    position: absolute;
    z-index: 999;
    border-radius: 1rem;
    top: 5rem;
    left: 35rem;
}

.suggestions-container {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1.2rem;
}

.items-down {
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.7rem;
}

.search:hover {
    background: #c9c9c9;
}

.search i {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000000;
}

.search input::placeholder {
    color: #000000;
    font-size: 1rem;
}

@media only screen and (max-width: 600px) {
    .navbarcenter ul li a span {
        display: none;
    }
    .navbarcenter ul li a {
        padding-right: 0;
        margin: 5px;
    }
    .nav-profile-img {
        width: 35px;
    }
}

@media only screen and (max-width: 767.98px) {
    .logo img {
        height: 4.5rem;
        width: 4.5rem;
        border-radius: 1rem;
        margin-right: 1rem;
        display: block;
    }
}