:root {
    /* Primary */
    --var-soft-blue: hsl(215, 51%, 70%);
    --var-cyan: hsl(178, 100%, 50%);
    /* Neutral */
    --var-main-darkest: hsl(217, 54%, 11%);
    --var-card-dark: hsl(216, 50%, 16%);
    --var-line-dark: hsl(215, 32%, 27%);
    --var-lightest: white;
    /* Fonts */
    --var-heading: normal normal 600 1.5em/1.6em 'Outfit', sans-serif;
    --var-small-heading: normal normal 400 1em/1em 'Outfit', sans-serif;
    --var-para: normal normal 300 1em/1.55em 'Outfit', sans-serif;
}

.txtnomeperfil {
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
}

.txttipoperfil {
    font-size: small;
    margin-bottom: 0 !important;
}

.txtopertion {
    font-size: small;
}

.txtinsite {
    font-size: small;
    margin-bottom: 0 !important;
}

.iconesize {
    font-size: large;
}

.cardcenter {
    text-align: center;
    margin: auto;
    margin: 2px;
    width: 24%;
}

.valoresinsi {
    color: #262626 !important;
    font-size: large;
}

.moviajustename {
    width: auto !important;
}

.fixed-column {
    position: sticky;
    top: 0;
    /* You can adjust this value based on your layout requirements */
    height: 100vh;
    /* Adjust the height to match the height of the scrolling part */
    overflow-y: auto;
    /* Enable vertical scrolling within the fixed column */
}

.bordainput {
    border: 1px solid;
}


/* Custom CSS to make the second column scrollable */

.scrollable-column {
    overflow-y: auto;
    /* Enable vertical scrolling for the second column */
    max-height: 100vh;
    /* Set a maximum height for the second column */
}

.card-container {
    width: 230px;
    max-width: 225px;
    background-color: var(--var-card-dark);
    border-radius: 15px;
    padding: 1rem;
    max-height: 300px;
    margin: 0 !important;
}

.texto-desc {
    display: block;
    width: auto;
    /* Fallback for non-webkit */
    display: -webkit-box;
    height: 2.6em;
    /* Fallback for non-webkit, line-height * 2 */
    line-height: 1.3em;
    -webkit-line-clamp: 2;
    /* if you change this, make sure to change the fallback line-height and height */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.flex-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.coin-base,
.time-left,
.card-attribute {
    display: flex;
    align-items: center;
    padding: 1em 0;
}

.card-attribute {
    padding-bottom: 1.5em;
    border-top: 2px solid var(--var-line-dark);
}

a.hero-image-container {
    position: relative;
    display: block;
}


/* Details */

img.eye {
    position: absolute;
    width: 100%;
    max-width: 2em;
    top: 44%;
    left: 43%;
}

@media (min-width:400px) {
    img.eye {
        max-width: 3em;
    }
}

.hero-image-container::after {
    content: '';
    background-image: url("https://i.postimg.cc/9MtT4GZY/view.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 5rem;
    background-color: hsla(178, 100%, 50%, 0.3);
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.hero-image-container:hover::after {
    opacity: 1;
}

.small-image {
    width: 1.2em;
    margin-right: .5em;
}

.small-avatar {
    width: 2em;
    border-radius: 200px;
    outline: 2px solid white;
    margin-right: 1.4em;
}

div.attribution {
    margin: 0 auto;
    width: 100%;
    font: var(--var-para);
    text-align: center;
    padding: 1.5em 0 4em 0;
    color: var(--var-line-dark);
}

.cortardescricao {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rowProduct {
    display: flex;
    /* Exibe os cards em uma linha */
    flex-wrap: nowrap;
    /* Evita quebra de linha */
    overflow-x: auto;
    /* Adiciona o scroll lateral */
}

.scrolling-container {
    /* Define a altura dos cards */
    height: 100%;
    /* Cria um scroll lateral caso o conteúdo seja maior que a largura do container */
    overflow-x: auto;
    /* Remove a barra de rolagem horizontal padrão */
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer e Edge */
}

.scrolling-container::-webkit-scrollbar {
    /* Remove a barra de rolagem horizontal no Chrome e Safari */
    display: none;
}

::-webkit-scrollbar {
    width: 9px;
    /* Largura da barra de rolagem vertical */
}


/* Cor de fundo da barra de rolagem */

 ::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Estilizando o "polegar" (o indicador de posição) da barra de rolagem */

 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}


/* Estilizando a barra de rolagem horizontal */

 ::-webkit-scrollbar-horizontal {
    height: 10px;
    /* Altura da barra de rolagem horizontal */
}


/* Estilizando a barra de rolagem vertical */

 ::-webkit-scrollbar-vertical {
    width: 10px;
    /* Largura da barra de rolagem vertical */
}

@media(max-width: 720px) {
    .margemcelulr {
        padding: revert !important;
    }
    .cardcenter {
        margin: 0.9px;
    }
    .txtinsite {
        font-size: x-small;
    }
    .card-container {
        width: 230px;
        max-width: 175px;
        background-color: var(--var-card-dark);
        border-radius: 15px;
        padding: 1rem;
        max-height: 231px;
    }
}

.img-profile-card {
    width: 130px;
}

.icon-btn-card {
    font-size: 14px;
}

.network-username-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 00px;
}

.network-operation-text {
    font-size: 1.2rem;
    color: #5a5a5a88;
    margin-bottom: 00px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.network-timeago-text {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 00px;
    color: #929292;
}

.produto-img {
    width: -webkit-fill-available;
    max-width: 100%;
    max-height: 200px;
}

.produto-desc-text {
    font-size: x-small;
}

.ul-view {
    max-height: 400px;
}


/* Criar Produto CSS*/

.product-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    z-index: 9999;
    max-height: 20rem;
}

.modal-open {
    position: fixed;
    top: -10rem;
    right: 0;
    bottom: 0;
    left: 0;
}

.product-form input {
    width: 90%;
    height: 5rem;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.product-form input::placeholder {
    font-size: 1.4rem;
    padding: 1rem;
}

.modal-style-addproduct {
    width: 60rem;
}

.productadd-title-image {
    font-size: 1.5rem;
    font-weight: 600;
}

.productadd-cancel-btn {
    height: 3.5rem;
    width: 6.5rem;
    border: none;
    font-size: 1.5rem;
    margin-right: 1rem;
}

.productadd-save-btn {
    height: 3.5rem;
    width: 6.5rem;
    border: none;
    font-size: 1.5rem;
}

@media(max-width:720px) {
    .modal-content {
        max-width: 100vw;
    }
    .product-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .product-form input {
        width: 100%;
        height: 3rem;
        border-radius: 0.5rem;
        margin-bottom: 2rem;
    }
    .modal-footer {
        display: flex;
        justify-content: left;
    }
    .modal-footer button {
        margin: auto auto;
    }
}


/* Editar Perfil CSS*/


/*ViewProfile*/

.img-viewprofile-card {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}

.close {
    width: 25px;
    height: 25px;
    background-color: #EAEAEA;
}

.textmeiosize {
    font-size: 12px !important;
}

.sizeinputedit {
    height: 30px !important;
    font-size: 17px !important;
}

.sizetituloedit {
    font-size: 15px;
}

.editdistribtn {
    border-color: #ffffff;
    margin-top: 10px;
}

@media (min-width: 794px) {
    .fixed-on-desktop {
        position: fixed;
    }
    .margemdesck {
        margin-bottom: 144px !important;
    }
}