RewriteEngine On

php_value upload_max_filesize 50M
php_value post_max_size 50M

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [NC,L]


#RewriteEngine on
#
#RewriteCond %{HTTP_REFERER} !^http://crmlabd.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://crmlabd.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://matchingbusiness.online/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://matchingbusiness.online$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://matchingbusiness.online.crmlabd.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://matchingbusiness.online.crmlabd.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://relatorio.crmlabd.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://relatorio.crmlabd.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://testes.matchingbusiness.online/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://testes.matchingbusiness.online$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.crmlabd.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.crmlabd.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.matchingbusiness.online/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.matchingbusiness.online$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.matchingbusiness.online.crmlabd.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.matchingbusiness.online.crmlabd.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.relatorio.crmlabd.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.relatorio.crmlabd.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.testes.matchingbusiness.online/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^http://www.testes.matchingbusiness.online$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://crmlabd.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://crmlabd.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://matchingbusiness.online/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://matchingbusiness.online$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://matchingbusiness.online.crmlabd.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://matchingbusiness.online.crmlabd.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://relatorio.crmlabd.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://relatorio.crmlabd.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://testes.matchingbusiness.online/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://testes.matchingbusiness.online$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.crmlabd.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.crmlabd.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.matchingbusiness.online/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.matchingbusiness.online$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.matchingbusiness.online.crmlabd.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.matchingbusiness.online.crmlabd.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.relatorio.crmlabd.com/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.relatorio.crmlabd.com$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.testes.matchingbusiness.online/.*$      [NC]
#RewriteCond %{HTTP_REFERER} !^https://www.testes.matchingbusiness.online$      [NC]
#RewriteRule .*\.(jpg|jpeg|gif|png|bmp)$ - [F,NC]

